* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
.countDown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #eceb98;
	padding: 10px;
}
.navBar {
	padding: 20px;
	/* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); */
	border-bottom: 0.5px solid rgb(222, 222, 222);
}
.navBar img {
	width: 100px;
	/* height: auto; */
}
.navList {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.navList li {
	list-style-type: none;
}
.searchBar input {
	width: 450px;
	height: 30px;
}
#displayCategory {
	display: flex;
	justify-content: space-evenly;
	/* flex-direction: column; */
}
#displayCategory {
	list-style-type: none;
	padding: 15px; /* margin-bottom: 10px; */
	/* position: sticky; */
}
.categoryDropdown {
	position: relative;
}
.dropdown-sub {
	width: 100vw;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	/* padding: 0 50px; */
	/* padding: 10px 60px; */
}
.dropdown-sub li {
	list-style-type: none;
	padding: 10px 50px;
}
/* .dropdown-sub:hover{
	display: block;
} */
.categoryNavBar {
	/* padding: 10px; */
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}
.carsoul {
	width: 100%;
	height: fit-content;
	position: relative;
}
.images {
	/* width: 100vw; */
	/* position: absolute; */
	height: 400px;
	overflow: hidden;
	margin: 50px;
	display: flex;
	/* justify-content: center; */
	align-items: center;
	flex-direction: column;
}
.images img {
	/* width: 100%; */
	position: absolute;
}
.carsoulBtn {
	position: absolute;
	font-size: 2rem;
	border: none;
	background: none;
	top: 45%;
}
.left {
	left: 50px;
}
.right {
	right: 50px;
}
.card {
	width: 400px;
	height: 200px;
	background-color: white;
	position: absolute;
	/* z-index: 2; */
	padding: 20px;
	top: 6rem;
	left: 15rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
	border-radius: 10px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.title {
	font-size: 2rem;
}
.contiTitle {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 118px;
}
.continue {
	font-size: 2rem;
}
.subCategory-course {
	width: 100vw;
	display: flex;
}
.course {
	width: 250px;
}
.course-card {
	display: flex;
	justify-content: space-between;
}
.course-btn {
	display: flex;
	justify-content: center;
}
.course-content {
	font-size: 12px;
}
